{% extends 'layout.html' %}


{% load static %}


{% load prettyjson %}


{% block header %}
    {{ block.super }}
    {% prettyjson_setup %}

    
    <style>
        .jsonwidget {
            max-width: 500px;
        }
        
        .status-block {
            margin-left: 15px;
            margin-right: 15px;
            display: flex;
            justify-content: center;
        }
        
        .status-block-content {
            margin: 10px;
        }

        #form-table {
            border-radius: 20px;
            background-color: lightgrey;
        }

        #form-table tbody {
            display: flex;
            flex-direction: column;
            padding: 5px;
            width: 300px;
        }

        #form-table tbody tr {
            margin: 10px;
        }

        #form-table tbody tr th {
            white-space: nowrap;
            display: flex;
            justify-content: center;
        }

        #form-table tbody tr td {
            display: flex;
            justify-content: center;
        }

        #form-table tbody tr td input {
            width: 100%;
            margin-left: 10px;
            border-radius: 3px;
        }

        #button-container {
            display: flex;
            justify-content: center;
            margin-top: 10px;
            height: 50px;
        }

        #button-container button {
            width: 150px;
            border-radius: 20px;
        }
    </style>
{% endblock %}


{% block content %}
    {% if created %}
        <div class="status-block">
            <h2 class="status-block-content">Product was created successfully!</h2>
            {% prettyjson ''|add:json_data %}
        </div>
    {% endif %}

    {% if error %}
        <div class="status-block">
            <h2 class="status-block-content">{{ error_name }}:</h2>
            <h3 class="status-block-content">{{ error }}</h3>
        </div>
    {% endif %}

    <form action="{% url 'create_product' %}" method="POST">
        {% csrf_token %}
        <table align="center" id="form-table" cols="2" cellpadding="10px">
            {{ form.as_table }}
        </table>
        <div id="button-container">
            <button type="submit">Create product</button>
        </div>
    </form>
{% endblock %}
