{% extends 'layout.html' %}


{% load prettyjson %}


{% block header %}
    {{ block.super }}
    {% prettyjson_setup %}

    <style>
        .jsonwidget {
            max-width: 500px;
        }
        
        .status-block {
            margin-left: 15px;
            margin-right: 15px;
            display: flex;
            justify-content: center;
        }
        
        .status-block-content {
            margin: 10px;
        }

        #form-table {
            border-radius: 20px;
            background-color: lightgrey;
        }

        #form-table tbody {
            display: flex;
            flex-direction: column;
            padding: 5px;
            width: 400px;
        }

        #form-table tbody tr {
            margin: 10px;
            width: 90%;
        }

        #form-table tbody tr th {
            white-space: nowrap;
            display: flex;
            justify-content: center;
        }

        #form-table tbody tr td {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }

        #form-table tbody tr td input {
            width: 100%;
            margin-left: 10px;
            border-radius: 3px;
        }
        
        #button-container {
            display: flex;
            justify-content: center;
            margin-top: 10px;
            height: 50px;
        }

        #button-container button {
            width: 150px;
            border-radius: 20px;
        }

        a {
            pointer-events: none;
        }

        .active a {
            pointer-events: all;
        }
    </style>
{% endblock %}


{% block content %}
    <!-- Product data -->
    <input type="hidden" value="{{ product.name }}" id="product-name">
    <input type="hidden" value="{{ product.price }}" id="product-price">
    <input type="hidden" value="{{ product.image }}" id="product-image">
    <input type="hidden" value="{{ product.creator }}" id="product-creator">
    <input type="hidden" value="{{ product.create_date }}" id="product-create-date">

    {% if updated %}
    <div class="status-block">
        <h2 class="status-block-content">Product was updated successfully!</h2>
        {% prettyjson ''|add:json_data %}
    </div>
    {% endif %}

    <form action="{% url 'update_product' pk=product_pk %}" method="POST">
        {% csrf_token %}
        <table align="center" id="form-table" cols="2" cellpadding="10px">
            {{ form.as_table }}
        </table>
        <div id="button-container">
            <button type="submit">Update</button>
        </div>
    </form>
{% endblock %}
