# Python virtual environment
env/

# __pycache__
testproject/__pycache__/
testproject/*/__pycache__/
testproject/*/*/__pycache__/

# DRF migrations
testproject/testapp/migrations/

# App byte file
testproject/products_pk_list
